<nav class="navbar navbar-expand-lg navbar-light bg-white shadow-sm">
    <div class="container">
        <a class="navbar-brand" routerLink="/">Mohamed Shahil</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navmenu">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navmenu">
            <ul class="navbar-nav ms-auto">
                <li class="nav-item"><a class="nav-link" routerLink="/about">About</a></li>
                <li class="nav-item"><a class="nav-link" routerLink="/skills">Skills</a></li>
                <li class="nav-item"><a class="nav-link" routerLink="/projects">Projects</a></li>
                <li class="nav-item"><a class="nav-link" routerLink="/contact">Contact</a></li>
            </ul>
        </div>
    </div>
</nav>