<section class="hero bg-light">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-md-7">
                <h1 class="display-5">Hi, I'm <strong>Mohamed Shahil</strong></h1>
                <p class="lead">Java Full Stack Developer — building web & desktop applications with Java, Spring Boot &
                    Angular.</p>
                <a routerLink="/projects" class="btn btn-primary me-2">View Projects</a>
                <a href="assets/Mohamed_Shahil.pdf" class="btn btn-outline-secondary" download>Download Resume</a>
            </div>
            <div class="col-md-5 text-center">
                <img src="assets\image00001.jpeg" class="img-fluid rounded-circle"
                    alt="photo">
            </div>
        </div>
    </div>
</section>